.menu.js-menu
    ._header
      ._lang.js-lang
        include _select-lang
      ._search
        include _search-form
      ._back
        button.back-button.js-back-button
    ._main
      include _nav
    ._footer
      include _contacts