nav.nav
  li._item.js-whith-submenu
    span._link Services
    .submenu.js-submenu
      ._title.js-submenu-close Services
      ul._list
        li._item 
          .accordion.js-accordion
            span.submenu__link.accordion__title.js-accordion-title Platforms
            ul._list
              li._item 
                a._link(href="#") Aws 
              li._item 
                a._link(href="#") GCP
              li._item 
                a._link(href="#") Azure 
              li._item 
                a._link(href="#") AlibabaCloud
              li._item 
                a._link(href="#") MTS
              li._item 
                a._link(href="#") VMware, KVM
        li._item 
          .accordion.js-accordion
            span.submenu__link.accordion__title.js-accordion-title Platforms
            ul._list
              li._item 
                a._link(href="#") Aws 
              li._item 
                a._link(href="#") GCP
              li._item 
                a._link(href="#") Azure 
              li._item 
                a._link(href="#") AlibabaCloud
              li._item 
                a._link(href="#") MTS
              li._item 
                a._link(href="#") VMware, KVM
        li._item
          a._link(href="#") DevOps
        li._item 
          a._link(href="#") Servers
        li._item 
          a._link(href="#") Systems
        li._item 
          a._link(href="#") Applications
        li._item 
          .accordion.js-accordion
            span.submenu__link.accordion__title.js-accordion-title Platforms
            ul._list
              li._item 
                a._link(href="#") Aws 
              li._item 
                a._link(href="#") GCP
              li._item 
                a._link(href="#") Azure 
              li._item 
                a._link(href="#") AlibabaCloud
              li._item 
                a._link(href="#") MTS
              li._item 
                a._link(href="#") VMware, KVM
  li._item.js-whith-submenu
    span._link Managed IT
    .submenu.js-submenu
      ._title.js-submenu-close Managed IT
      ul._list
        li._item
          a._link(href="#") DevOps
        li._item 
          a._link(href="#") Servers
        li._item 
          a._link(href="#") Systems
        li._item 
          a._link(href="#") Applications
  li._item.js-whith-submenu
    span._link Hardware
    .submenu.js-submenu
      ._title.js-submenu-close Hardware
      ul._list
        li._item 
          .accordion.js-accordion
            span.submenu__link.accordion__title.js-accordion-title Platforms
            ul._list
              li._item 
                a._link(href="#") Aws 
              li._item 
                a._link(href="#") GCP
              li._item 
                a._link(href="#") Azure 
              li._item 
                a._link(href="#") AlibabaCloud
              li._item 
                a._link(href="#") MTS
              li._item 
                a._link(href="#") VMware, KVM
        li._item
          a._link(href="#") DevOps
        li._item 
          a._link(href="#") Servers
        li._item 
          a._link(href="#") Systems
        li._item 
          a._link(href="#") Applications
  li._item.js-whith-submenu
    span._link Company
    .submenu.js-submenu
      ._title.js-submenu-close Company
      ul._list
        li._item 
          a._link(href="#") Systems
        li._item 
          a._link(href="#") Applications
  li._item
    a._link(href="#") For Partners