form.search-form.js-search-form
  input._input.js-search-input(type="text" placeholder="What are you looking for?")
  input._submit(type="submit")
  button._button.-search.js-search-open
  button._button.-close.close.js-search-close