.select-lang.js-select-lang
  ._selected.js-select-lang-value
    ._item 
      img._flag(src="img/sprite.svg#flag-ru")  
      span RU
  ._options.js-select-lang-options
    a._option(href="#")
      ._item 
        img._flag(src="img/sprite.svg#flag-en")  
        span EN
    a._option(href="#")
      ._item 
        img._flag(src="img/sprite.svg#flag-be")  
        span BE