doctype html
html
    head
        block title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        include _head_style
        
    body
        include _header
        main.wrapper
            block content
            //end content
        include _scripts