.menu {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
  @media screen and (min-width: $w-tablet) {
    width: 414px;
    box-shadow: 0 10px 20px 0 rgba(12, 6, 57, 0.1);
    right: -414px;
  }
  &__header {
    padding: 15px 15px 26px 15px;
    display: flex;
    align-items: flex-start;
    @media screen and (min-width: $w-tablet) {
      padding: 33px 37px 40px 32px;
    }
  }
  &__main {
    padding: 0 15px;
    flex-grow: 1;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding: 0 22px 0 17px;
    }
  }
  &__footer {
    padding: 29px 15px 29px 30px;
    @media screen and (min-width: $w-tablet) {
      padding: 29px 22px 70px 32px;
    }
  }
  &__lang {
    padding-left: 15px;
    z &.hide {
      width: 0;
      padding-left: 0;
    }
  }
  &__search {
    margin-right: 22px;
    flex-grow: 1;
    @media screen and (min-width: $w-tablet) {
      margin-right: 35px;
    }
  }
  &__back {
    line-height: 0;
  }
  &.open {
    right: 0;
  }
}
