.menu {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
  @media screen and (min-width: $w-tablet) {
    width: 414px;
    box-shadow: 0 10px 20px 0 rgba(12, 6, 57, 0.1);
    right: -414px;
  }
  &__header {
    padding: 15px 15px 26px 15px;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding: 31px 37px 40px 30px;
    }
  }
  &__main {
    padding: 0 15px;
    flex-grow: 1;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding: 0 40px 0 30px;
    }
  }
  &__footer {
    padding: 29px 15px 29px 30px;
    @media screen and (min-width: $w-tablet) {
      padding: 29px 22px 70px 30px;
    }
  }
  &__lang {
    padding-left: 15px;
    width: 70px;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    background-color: $white;
    &.hide {
      width: 0;
      z-index: auto;
      padding-left: 0;
    }
  }
  &__search {
    position: absolute;
    top: 15px;
    right: 60px;
    left: 15px;
    @media screen and (min-width: $w-tablet) {
      top: 30px;
      left: 30px;
      right: 95px;
    }
  }
  &__back {
    line-height: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    @media screen and (min-width: $w-tablet) {
      top: 31px;
      right: 37px;
    }
  }
  &.open {
    right: 0;
  }
}
